* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
}

h1 {
    margin-top: 30px;
}

.nav-list {
    list-style: none;
}

.nav-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-img{
    width: 55px;
}