* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header{
    background-color:#21222A;
    width: 550px;
    height: 91px;
}
.navbar{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: left;
    gap: 7px;
    padding-left: 8px;
    padding-top: 16px;
}

.img{
    width: 27.69px;
}

.text{
    font-size: 22.25px;
    color: #61DAFB;
    font-family: Inter;
    font-weight: 700;
}

